@model IEnumerable<Roostersysteem.Models.PersoonVak>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--Een vak toevoegen aan een docent-->
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="border:1px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persoon.PersoonVoornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vak.VakNaam)
        </th>
        <th></th>
    </tr>

<!--Een Vak verwijderen, wijzigen of details tonen-->
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Persoon.PersoonVoornaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vak.VakNaam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersoonVak_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersoonVak_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersoonVak_Id })
        </td>
    </tr>
}

</table>
