@model IEnumerable<Roostersysteem.Models.Vak>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "ContacturenCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VakNaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VakCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VakNaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VakCode)
        </td>
        <td>
            @Html.ActionLink("Edit", "ContacturenEdit", new { id=item.VakId }) |
            @Html.ActionLink("Details", "ContacturenDetails", new { id=item.VakId }) |
            @Html.ActionLink("Delete", "ContacturenDelete", new { id=item.VakId })
        </td>
    </tr>
}

</table>
